// you can change config here
$theme-color: #096dd9;

// 设置字体变量
$vp-font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;

$vp-font-family-heading: $vp-font-family;

$vp-font-family-mono: "Source Code Pro", "Courier New", monospace;

// 优化代码块滚动条样式
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  
  &:hover {
    background: #a8a8a8;
  }
}

// 优化代码块样式
div[class*='language-'] {
  pre {
    padding: 1rem;
    
    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      
      &:hover {
        background: #a8a8a8;
      }
    }
  }
}

// 增加代码块的内边距，方便滚动
.theme-hope-content {
  pre[class*='language-'] {
    padding: 1.5rem;
    margin: 0.85rem 0;
  }
}
